In [16]:
import pandas as pd
import numpy

In [17]:
df = pd.read_csv("BitExposedNew.csv")

In [18]:
df

          in_filename  bit_exposed_in_10k
0   ./temp/Q049.input                6870
1  ./temp/Q0266.input                4060
2  ./temp/Q0439.input                6190
3  ./temp/Q0243.input                4252
4  ./temp/Q0277.input                4510
5  ./temp/Q0336.input                5324

In [19]:
QBER = [0.049,0.0266,0.0439,0.0243,0.0277,0.0336]

In [20]:
df["QBER"] = QBER

In [21]:
df

          in_filename  bit_exposed_in_10k    QBER
0   ./temp/Q049.input                6870  0.0490
1  ./temp/Q0266.input                4060  0.0266
2  ./temp/Q0439.input                6190  0.0439
3  ./temp/Q0243.input                4252  0.0243
4  ./temp/Q0277.input                4510  0.0277
5  ./temp/Q0336.input                5324  0.0336

In [22]:
def h(Q):
    return -Q*numpy.log2(Q)-(1-Q)*numpy.log2(1-Q);

In [23]:
r = 6870/10240

In [24]:
#f =r/h(qber)

In [25]:
fvals = []
rvals = []
for index, row in df.iterrows():
    bx = float(row["bit_exposed_in_10k"])
    r = bx / 10240
    f = r/ h(float(row["QBER"]))
    rvals.append(r)
    fvals.append(f)

In [26]:
df["fvals"] = fvals
df["rvals"] = rvals

In [27]:
df.to_csv("fvals_New.csv")

In [28]:
fvals

[2.377944666091307,
 2.239476346134188,
 2.32589753881454,
 2.5173879808909048,
 2.410368581289115,
 2.4508873948681]

In [29]:
df

          in_filename  bit_exposed_in_10k    QBER     fvals     rvals
0   ./temp/Q049.input                6870  0.0490  2.377945  0.670898
1  ./temp/Q0266.input                4060  0.0266  2.239476  0.396484
2  ./temp/Q0439.input                6190  0.0439  2.325898  0.604492
3  ./temp/Q0243.input                4252  0.0243  2.517388  0.415234
4  ./temp/Q0277.input                4510  0.0277  2.410369  0.440430
5  ./temp/Q0336.input                5324  0.0336  2.450887  0.519922

In [31]:
df.sort_values(by=['QBER'])

          in_filename  bit_exposed_in_10k    QBER     fvals     rvals
3  ./temp/Q0243.input                4252  0.0243  2.517388  0.415234
1  ./temp/Q0266.input                4060  0.0266  2.239476  0.396484
4  ./temp/Q0277.input                4510  0.0277  2.410369  0.440430
5  ./temp/Q0336.input                5324  0.0336  2.450887  0.519922
2  ./temp/Q0439.input                6190  0.0439  2.325898  0.604492
0   ./temp/Q049.input                6870  0.0490  2.377945  0.670898

          in_filename  bit_exposed_in_10k    QBER     fvals     rvals
0   ./temp/Q049.input                6870  0.0490  2.377945  0.670898
1  ./temp/Q0266.input                4060  0.0266  2.239476  0.396484
2  ./temp/Q0439.input                6190  0.0439  2.325898  0.604492
3  ./temp/Q0243.input                4252  0.0243  2.517388  0.415234
4  ./temp/Q0277.input                4510  0.0277  2.410369  0.440430
5  ./temp/Q0336.input                5324  0.0336  2.450887  0.519922