In [33]:
import pandas as pd
import numpy

In [34]:
df = pd.read_csv("BitExposedNew.csv")

In [35]:
df

          in_filename  bit_exposed_in_10k
0   ./temp/Q049.input                5107
1  ./temp/Q0266.input                3786
2  ./temp/Q0439.input                4511
3  ./temp/Q0243.input                3084
4  ./temp/Q0277.input                3525
5  ./temp/Q0336.input                3740

In [36]:
QBER = [0.049,0.0266,0.0439,0.0243,0.0277,0.0336]

In [37]:
df["QBER"] = QBER

In [38]:
df

          in_filename  bit_exposed_in_10k    QBER
0   ./temp/Q049.input                5107  0.0490
1  ./temp/Q0266.input                3786  0.0266
2  ./temp/Q0439.input                4511  0.0439
3  ./temp/Q0243.input                3084  0.0243
4  ./temp/Q0277.input                3525  0.0277
5  ./temp/Q0336.input                3740  0.0336

In [39]:
def h(Q):
    return -Q*numpy.log2(Q)-(1-Q)*numpy.log2(1-Q);

In [40]:
r = 6870/10240

In [41]:
#f =r/h(qber)

In [49]:
fvals = []
rvals = []
for index, row in df.iterrows():
    bx = float(row["bit_exposed_in_10k"])
    r = bx / 10240
    f = r/ h(float(row["QBER"]))
    print (f)
    rvals.append(r)
    fvals.append(f)

1.7677093755063034
2.0883392725280876
1.695011922066622
1.8258759485107126
1.8839355319388318
1.721697756725525

In [43]:
df["fvals"] = fvals
df["rvals"] = rvals

In [44]:
df.to_csv("fvals_New.csv")

In [45]:
fvals

[1.7677093755063034,
 2.0883392725280876,
 1.695011922066622,
 1.8258759485107126,
 1.8839355319388318,
 1.721697756725525]

In [46]:
df

          in_filename  bit_exposed_in_10k    QBER     fvals     rvals
0   ./temp/Q049.input                5107  0.0490  1.767709  0.498730
1  ./temp/Q0266.input                3786  0.0266  2.088339  0.369727
2  ./temp/Q0439.input                4511  0.0439  1.695012  0.440527
3  ./temp/Q0243.input                3084  0.0243  1.825876  0.301172
4  ./temp/Q0277.input                3525  0.0277  1.883936  0.344238
5  ./temp/Q0336.input                3740  0.0336  1.721698  0.365234

In [47]:
df.sort_values(by=['QBER'])

          in_filename  bit_exposed_in_10k    QBER     fvals     rvals
3  ./temp/Q0243.input                3084  0.0243  1.825876  0.301172
1  ./temp/Q0266.input                3786  0.0266  2.088339  0.369727
4  ./temp/Q0277.input                3525  0.0277  1.883936  0.344238
5  ./temp/Q0336.input                3740  0.0336  1.721698  0.365234
2  ./temp/Q0439.input                4511  0.0439  1.695012  0.440527
0   ./temp/Q049.input                5107  0.0490  1.767709  0.498730